<div class="tweet-comments py-2">
  <p>
    <span> <%= date(comment) %> </span>
  </p>
  <p>
    <b><%= link_to comment.user.fullname.capitalize, user_path(comment.user) %>:</b> <%= comment.content %>
  </p>
</div>