<%= link_to edit_tweet_path(tweet), class: "level-item" do %>
  <span class="icon"><i class="fas fa-pencil-alt"></i></span>
<% end %>
<%= link_to tweet, method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?" } do %>
    <span class="icon"><i class="far fa-trash-alt"></i></span>
<% end %>
