<article class="media box">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/64x64.png" alt="placeholder">
    </p>
  </figure>
  <div class="media-content">
    <%= render 'form' %>
  </div>
</article>