<div class="login col-6 mx-auto">

  <h1 class="mt-5 font-weight-bolder text-center">New User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path, class: 'btn btn-primary btn-block text-white mt-1' %>

</div>
